
.form-group {
    display: grid;
    grid-template-columns: auto 8rem;
    grid-column-gap: 0.5rem;
    padding-bottom: 0.5rem;
}

.form-group label {
    padding-top: 0.5rem;
}

form-input {
    margin-bottom: 0.5rem;
}