.editorBundle {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem;
}

.coordinatesInputs {
    display: grid;
    grid-template-columns: auto;
}

.footerButtons {
    padding-top: 10px;
}