
.MapViewContainer {
    background-image: url("https://developers.google.com/maps/documentation/urls/images/map-no-params.png");
    min-height: 600px;
}

.stepsContainer {
    position: fixed;
    /* top: 0; */
    left: 0;
}